<app-header title="STUDENTS"></app-header>
<ion-list padding-top>
  <ion-select
    class="classes-options"
    [(ngModel)]="selectedClass"
    (ionChange)="setSelectedClass()"
  >
    <ion-select-option *ngFor="let list of classlist" [value]="list">
      {{ list.name }}
    </ion-select-option>
  </ion-select>
  <ion-searchbar placeholder="Search Student" [debounce]="250" mode="ios">
  </ion-searchbar>
</ion-list>
<ion-content>
  <ion-card class="ion-text-center" *ngIf="members.length == 0">
    <div class="ion-padding">
      No Member in this Class yet
    </div>
  </ion-card>
  <ion-list no-padding>
    <ion-card
      button
      *ngFor="let member of members"
      (click)="viewProfile(member)"
    >
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="member.image" />
        </ion-avatar>
        <ion-label>
          <ion-text color="dark">
            <h4 class="text-header">
              {{ member.name.first }} {{ member.name.last }}
            </h4>
          </ion-text>
          <ion-text color="dark">
            <p class="text-wrap">
              {{ member.student_number }} | {{ member.course }}
            </p>
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
