<app-header title="Profile"></app-header>
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header color="blue">
      <div class="pl-20">
        <div class="profile-img">
          <img [src]="user.image" alt="" />
        </div>

        <ion-card-title>
          <span class="text-light user-name">
            {{ currentUser.name.first }} {{ currentUser.name.last }}
          </span>
        </ion-card-title>
      </div>
    </ion-card-header>
    <ion-card-content>
      <div class="pl-20 user-email">
        {{ currentUser.email }}
      </div>
      <input type="file" #file hidden (change)="uploadImage($event)" />
      <ion-button (click)="file.click()" class="upload-btn" color="light">
        <ion-icon slot="icon-only" name="camera" color="blue"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-list>
      <ion-item *ngIf="user">
        <ion-icon name="contact" slot="start" color="blue"></ion-icon>

        <ion-input
          type="text"
          placeholder="First name"
          [(ngModel)]="user.name.first"
        ></ion-input>
        <ion-input
          type="text"
          placeholder="Last name"
          [(ngModel)]="user.name.last"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="compass" slot="start" color="blue"></ion-icon>
        <ion-input
          type="text"
          placeholder="Address"
          [(ngModel)]="user.address"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="call" slot="start" color="blue"></ion-icon>
        <ion-input
          type="number"
          placeholder="Mobile number"
          [(ngModel)]="user.mobile"
        ></ion-input>
      </ion-item>
      <ion-button (click)="updateProfile()" expand="full" color="blue">
        Update
      </ion-button>
    </ion-list>
  </ion-card>
</ion-content>
