.profile-img {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
}

.pl-20 {
  padding-left: 100px;
}

.text-light {
  color: white !important;
}

ion-content {
  --background: rgb(234, 248, 255);
}

ion-card-content {
  min-height: 50px;
}

ion-title {
  font-size: 0.8rem !important;
}

.user-name {
  font-size: 0.9rem !important;
}

.user-email {
  font-size: 0.8rem !important;
}

ion-input {
  font-size: 0.8rem !important;
}

.upload-btn {
  position: absolute;
  bottom: 5px;
  left: 60px;
  padding: 0 !important;
  font-size: 12px;
  ion-icon {
    font-size: 15px;
  }
}
