ion-content {
  --background: rgb(234, 255, 240);
}

ion-segment-button {
  --background: #ffffff;
  --background-checked: var(--ion-color-blue);
  border: solid 1px #19703D !important;
  border-radius: 20px !important;
  --border-radius: 4px;
  --color: #19703D;
  --color-activated: black;
  --color-checked: #ffffff;
  --indicator-color-checked: #19703D;
  --transition: background-color 15ms linear;
  font-size: 0.5rem;
  padding: 5px;
  margin-bottom: 5px;
}


ion-searchbar {
  padding: 0.4rem 0.8rem 0;
}

ion-list {
  background: rgb(234, 255, 240);
  padding: 0;
}

ion-select {
  background: var(--ion-color-blue);
  border: 1px solid #fff;
  color: #ffffff;
  margin: 1rem 0.8rem 0;
  font-size: 0.8rem;
  button {
    padding: 0 !important;
  }
}

ion-segment {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  
}

.text-wrap {
  overflow-wrap: normal !important;
  font-size: 0.7rem;
  margin: 0;
}

.text-header {
  margin: 5px 0;
  font-size: 0.8rem;
  font-weight: 600;
}

.text-center {
  text-align: center;
}

p {
  margin: 0;
}

ion-grid {
  ion-row {
    padding: 0;
    ion-col {
      border: 0.5px solid #f1f1f1;
    }
  }
}

.footer {
  font-size: 0.7rem;
}

.class-image {
  margin: 1vh 0;
}

ion-fab-button {
  --border-color: var(--ion-color-blue);
  --padding-bottom: 0;
  --padding-end: 0;
  --padding-start: 0;
  --padding-top: 0;
}
