<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="students">
      <ion-icon name="people"></ion-icon>
      <ion-label>Class</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="activities">
      <ion-icon name="document"></ion-icon>
      <ion-label>Activities</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dashboard">
      <ion-icon name="grid"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="library">
      <ion-icon name="albums"></ion-icon>
      <ion-label>Collections</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="grades">
      <ion-icon name="cellular"></ion-icon>
      <ion-label>Grades</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
