<ion-tabs>
  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="students">
      <ion-icon name="ios-contacts"></ion-icon>
      <ion-label>Students</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="classes">
      <ion-icon name="ios-bookmarks"></ion-icon>
      <ion-label>Classes</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="dashboard">
      <ion-icon name="school"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="activities">
      <ion-icon name="ios-paper"></ion-icon>
      <ion-label>Activities</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="grades">
      <ion-icon name="pie"></ion-icon>
      <ion-label>Grades</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
