ion-content {
  --background: #f1f1f1;
}

ion-segment {
  padding: 20px 15px 10px;
  background: #f1f1f1;
}
ion-segment-button {
  --background: #ffffff;
  --background-checked: var(--ion-color-danger);
  --border-radius: 4px;
  --color: grey;
  --color-checked: #ffffff;
  --indicator-color-checked: #222222;
  --transition: background-color 15ms linear;
  font-size: 0.6rem;
}

ion-card {
  --background: #ffffff;
  ion-card-header {
    padding: 0;
  }

  ion-card-content {
    background: var(--ion-color-primary);
    padding: 20px;
    border: 1px solid white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    .arrow-right {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}

.text-wrap {
  overflow-wrap: normal !important;
  font-size: 0.7rem;
  margin: 0;
}

.text-header {
  margin: 5px 0;
  font-size: 0.8rem;
  font-weight: 600;
}

p {
  margin: 0;
}

ion-grid {
  ion-row {
    padding: 0;
  }
}

ion-list {
  background: #f1f1f1;
  padding: 0;
}

.footer {
  font-size: 0.7rem;
}

.class-image {
  margin: 1vh 0;
}

ion-select {
  background: var(--ion-color-danger);
  border: 1px solid black;
  color: #ffffff;
  margin: 0 0.8rem;
  font-size: 0.8rem;
  --padding-end: 1rem;
  border-radius: 0.4rem;
  button {
    padding: 0 !important;
  }
}

ion-item {
  --background: #f1f1f1;
}
