ion-select {
  background: var(--ion-color-primary);
  border: 1px solid black;
  color: #ffffff;
  margin: 0 0.8rem;
  font-size: 0.8rem;
  --padding-end: 1rem;
  border-radius: 0.4rem;

  button {
    padding: 0 !important;
  }
}
