ion-content {
  --background: #f1f1f1;
  --padding-bottom: 20px;
  --padding-end: 10px;
  --padding-start: 10px;
  --padding-top: 20px;
}

ion-segment {
  padding: 20px 15px 10px;
  background: #f1f1f1;
}

ion-segment-button {
  --background: #ffffff;
  --background-checked: var(--ion-color-danger);
  --border-radius: 4px;
  --color: grey;
  --color-checked: #ffffff;
  --indicator-color-checked: #222222;
  --transition: background-color 15ms linear;
  font-size: 0.6rem;
}

ion-card {
  --background: #ffffff;
  ion-card-header {
    padding: 0;
  }
}

.text-wrap {
  overflow-wrap: normal !important;
  font-size: 0.7rem;
  margin: 0;
}

.text-header {
  margin: 5px 0;
  font-size: 0.8rem;
  font-weight: 600;
}

p {
  margin: 0;
}

ion-grid {
  background: white;
  border-radius: 5px;
  ion-button {
    font-size: 0.7rem;
  }
}

ion-list {
  background: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.footer {
  font-size: 0.7rem;
}

.class-image {
  margin: 1vh 0;
}

ion-select {
  background: var(--ion-color-danger);
  border: 1px solid black;
  color: #ffffff;
  margin: 0 0.8rem;
  font-size: 0.8rem;
  --padding-end: 1rem;
  border-radius: 0.4rem;
  button {
    padding: 0 !important;
  }
}

ion-item {
  background: white;
  padding: 0;
  --highlight-color-focused: none;
}

ion-input {
  --padding-bottom: 0.4rem;
  --padding-end: 0.8rem !important;
  --padding-start: 0.8rem !important;
  --padding-top: 0.4rem;
  font-size: 0.8rem;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  margin-top: 8px;
}

ion-input.isCorrect {
  background: var(--ion-color-success);
  color: var(--ion-color-light);
}

ion-input.isNotCorrect {
  background: var(--ion-color-danger);
  color: var(--ion-color-light);
}

ion-textarea {
  --padding-bottom: 0.4rem;
  --padding-end: 0.8rem;
  --padding-start: 0.8rem;
  --padding-top: 0.4rem;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  font-size: 0.6rem;
}

.w-100 {
  width: 100% !important;
}

.submit-status {
  width: 100px;
  position: absolute;
  right: 10px;
}

.ion-color-success {
  color: var(--ion-color-success);
}

.ion-color-danger {
  color: var(--ion-color-danger);
}

.options {
   font-size: 0.8rem;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  margin-top: 8px;
  padding: 5px;
  width: 100%;
}