<app-header title="ABOUT"></app-header>
<ion-content padding>
  <img src="assets/images/ccs-logo.jpg" alt="" />

  <ion-list>
    <ion-item>
      <ion-label text-center>
        <p>Developers</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label text-center>
        <p>Anthony Veloria</p>
        <p>Hiroshi Cruz</p>
        <p>Shaina Masinahon</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-center>
        <p>All rights reserve</p>
        <p>Copyright &copy; 2019</p>
        <p>Trimex Colleges</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
