ion-content {
    --background: rgb(234, 248, 255);
    img {
    border-radius: 5%;
    }
}

ion-list {
    background-color: rgb(234, 248, 255);
}

ion-item {
    --background: rgb(234, 248, 255);
}

.title {
    color: #00A3DE;
    font-size: 17px;
    font-weight: bold;
}