:root {
  --ion-font-family: 'Arial';

  --ion-color-danger: #c92e29;
  --ion-color-danger-rgb: 201, 46, 41;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #b12824;
  --ion-color-danger-tint: #ce433e;

  --ion-color-primary: #3a4d4b;
  --ion-color-primary-rgb: 58, 77, 75;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #334442;
  --ion-color-primary-tint: #4e5f5d;

  --ion-color-tertiary: #4fb6a5;
  --ion-color-tertiary-rgb: 79, 182, 165;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #46a091;
  --ion-color-tertiary-tint: #61bdae;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #fff;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #fff;
  --ion-color-light-tint: #fff;

  --ion-color-blue: #19703D;
  --ion-color-blue-rgb: 63, 144, 255;
  --ion-color-blue-contrast: #fff;
  --ion-color-blue-contrast-rgb: 0, 0, 0;
  --ion-color-blue-shade: #19703D;
  --ion-color-blue-tint: #19703D;

  --ion-color-orange: #ff790b;
  --ion-color-orange-rgb: 255, 121, 11;
  --ion-color-orange-contrast: #000000;
  --ion-color-orange-contrast-rgb: 0, 0, 0;
  --ion-color-orange-shade: #e06a0a;
  --ion-color-orange-tint: #ff8623;

  --ion-color-green: #0ec254;
  --ion-color-green-rgb: 14, 194, 84;
  --ion-color-green-contrast: #ffffff;
  --ion-color-green-contrast-rgb: 255, 255, 255;
  --ion-color-green-shade: #0cab4a;
  --ion-color-green-tint: #26c865;

  --ion-color-red: #ff0800;
  --ion-color-red-rgb: 255, 8, 0;
  --ion-color-red-contrast: #ffffff;
  --ion-color-red-contrast-rgb: 255, 255, 255;
  --ion-color-red-shade: #e00700;
  --ion-color-red-tint: #ff211a;

  --ion-color-yellow: #ffee00;
  --ion-color-yellow-rgb: 255, 238, 0;
  --ion-color-yellow-contrast: #000000;
  --ion-color-yellow-contrast-rgb: 0, 0, 0;
  --ion-color-yellow-shade: #e0d100;
  --ion-color-yellow-tint: #fff01a;

  --ion-color-grey: #acb0bd;
  --ion-color-grey-rgb: 172, 176, 189;
  --ion-color-grey-contrast: #000000;
  --ion-color-grey-contrast-rgb: 0, 0, 0;
  --ion-color-grey-shade: #979ba6;
  --ion-color-grey-tint: #b4b8c4;
}

.ion-color-blue {
  --ion-color-base: var(--ion-color-blue) !important;
  --ion-color-base-rgb: var(--ion-color-blue-rgb) !important;
  --ion-color-contrast: var(--ion-color-blue-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-blue-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-blue-shade) !important;
  --ion-color-tint: var(--ion-color-blue-tint) !important;
}

.ion-color-orange {
  --ion-color-base: var(--ion-color-orange) !important;
  --ion-color-base-rgb: var(--ion-color-orange-rgb) !important;
  --ion-color-contrast: var(--ion-color-orange-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-orange-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-orange-shade) !important;
  --ion-color-tint: var(--ion-color-orange-tint) !important;
}

.ion-color-green {
  --ion-color-base: var(--ion-color-green) !important;
  --ion-color-base-rgb: var(--ion-color-green-rgb) !important;
  --ion-color-contrast: var(--ion-color-green-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-green-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-green-shade) !important;
  --ion-color-tint: var(--ion-color-green-tint) !important;
}

.ion-color-red {
  --ion-color-base: var(--ion-color-red) !important;
  --ion-color-base-rgb: var(--ion-color-red-rgb) !important;
  --ion-color-contrast: var(--ion-color-red-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-red-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-red-shade) !important;
  --ion-color-tint: var(--ion-color-red-tint) !important;
}

.ion-color-yellow {
  --ion-color-base: var(--ion-color-yellow) !important;
  --ion-color-base-rgb: var(--ion-color-yellow-rgb) !important;
  --ion-color-contrast: var(--ion-color-yellow-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-yellow-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-yellow-shade) !important;
  --ion-color-tint: var(--ion-color-yellow-tint) !important;
}

.ion-color-grey {
  --ion-color-base: var(--ion-color-grey) !important;
  --ion-color-base-rgb: var(--ion-color-grey-rgb) !important;
  --ion-color-contrast: var(--ion-color-grey-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-grey-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-grey-shade) !important;
  --ion-color-tint: var(--ion-color-grey-tint) !important;
}

@font-face {
  font-family: 'Monda';
  src: url('../assets/fonts/Monda-Bold.ttf');
}
