.main {
  width: 100%;
  height: 100%;
  padding: 20vh 3vh;
  background-image: url('https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&w=1000&q=80');
  background-size: cover;
  position: relative;
  .description {
    text-align: center;
    color: #cacaca;
    text-shadow: 2px 2px 5px black;
    font-size: 0.8rem;
  }
  ion-button {
    --color: #ffffff;
    --border-color: #3880ff;
    font-size: 0.6rem;
    margin: 5px 10px;
  }
}

.text-light {
  color: white !important;
}

.logo {
  max-height: 10vh;
  margin: 10px auto 25px;
  display: block;
}

.title {
  margin: 0;
}

.subtitle {
  color: var(--ion-color-light);
  margin: 0;
  margin-top: -15px;
  font-size: 1rem;
}

.btns {
  margin: 30px 0;
}

.login-div {
  padding: 5px;
  margin: 20px 0 0;
  ion-item {
    margin: 20px 0 0;
    --background: #ffffff;
  }
}

.register-now {
  text-align: center;
  a {
    color: #3880ff !important;
    font-size: 0.8rem;
  }
}

form {
  ion-button {
    margin: 10px 0 !important;
    --background: #00A3DE !important;
  }
}

.main-logo {
  width: 16rem;
}