<ion-content>
  <div class="main">
    <h1 class="ion-text-center">
      <span class="title text-light">DRRR M-Learning</span>
    </h1>
    <p *ngIf="!loginIsClicked" class="description">
      Enhancing Teaching Approaches on Selected Program in Senior High School
      Utilizing Android Mobile Application: With Learning Management System
    </p>
    <form
      *ngIf="loginIsClicked"
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="login-div">
        <ion-item>
          <ion-input
            placeholder="Email"
            type="email"
            formControlName="email"
          ></ion-input>
          <ion-label
            class="error-label"
            color="primary"
            *ngIf="submitted && f.email.errors"
          >
            <ion-icon name="alert"></ion-icon>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-input
            placeholder="Password"
            type="password"
            formControlName="password"
          ></ion-input>
          <ion-label
            class="error-label"
            color="primary"
            *ngIf="submitted && f.password.errors"
          >
            <ion-icon name="alert"></ion-icon>
          </ion-label>
        </ion-item>
      </div>
      <ion-button
        type="submit"
        expand="block"
        class="login-btn"
        [disabled]="loading"
      >
        {{ loading ? '' : 'Login' }}
        <ion-spinner name="dots" *ngIf="loading"></ion-spinner>
      </ion-button>
      <p class="register-now">
        <ion-button [routerLink]="['/register']" 
        expand="block" color="light" routerLinkActive="router-link-active" 
        fill="outline">
          Register
        </ion-button>
      </p>
    </form>
    <div class="btns" *ngIf="!loginIsClicked">
      <ion-button (click)="onLoginClick()" expand="block" fill="outline">
        Login
      </ion-button>
      <ion-button
        [routerLink]="['/register']"
        routerLinkActive="router-link-active"
        expand="block"
        fill="outline"
      >
        Register
      </ion-button>
    </div>
  </div>
</ion-content>
