<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-content color="blue">
        <ion-card>
          <ion-card-header> </ion-card-header>
          <ion-card-content>
            <img [src]="user?.image" alt="" />
            <ion-label class="title-name" text-center>
              {{ user?.name.first }} {{ user?.name.last }}
              <p class="ion-text-capitalize">{{ user?.role }}</p>
            </ion-label>
          </ion-card-content>
        </ion-card>
        <ion-list>
          <ion-card no-margin>
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
              <ion-item color="blue" [routerDirection]="'root'" [routerLink]="[p.url]">
                <ion-icon slot="start" [name]="p.icon" color="light"></ion-icon>
                <ion-label color="light">
                  {{ p.title }}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-card>
          <ion-card no-margin class="ion-margin-top">
            <ion-item button (click)="logOut()" color="blue">
              <ion-icon slot="start" name="power" color="light"></ion-icon>
              <ion-label color="light">Logout</ion-label>
            </ion-item>
          </ion-card>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
