<ion-content>
  <div class="main">
    <h1 class="ion-text-center">
      <img src="assets/images/main-logo.png" class="main-logo" alt="">
    </h1>
    <p class="ion-text-center description">
      Registration Options:
    </p>
    <div class="register-btns" *ngIf="!registering">
      <div class="btns">
        <ion-button
          expand="block"
          color="primary"
          (click)="selectType('instructor')"
        >
          I am an Instructor
        </ion-button>
        <br/>
        <ion-button
          expand="block"
          color="blue"
          (click)="selectType('student')"
        >
        <p class="student-button">I am a Student</p>
        </ion-button>
      </div>

      <p class="ion-text-center description">OR</p>
      <ion-button
        [routerLink]="['/login']"
        routerLinkActive="router-link-active"
        expand="block"
        color="white"
        fill="outline"
      >
        Login
      </ion-button>
    </div>

    <div [ngSwitch]="role">
      <div *ngSwitchCase="'student'">
        <form *ngIf="registering" [formGroup]="studRegisterForm">
          <div class="register-div">
            <ion-item>
              <ion-input
                placeholder="Student ID"
                type="text"
                formControlName="studid"
              ></ion-input>
              <ion-label
                class="error-label"
                color="blue"
                *ngIf="submitted && student.studid.errors"
              >
                <ion-icon name="alert"></ion-icon>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-input
                placeholder="Name"
                type="text"
                formControlName="name"
              ></ion-input>
              <ion-label
                class="error-label"
                color="blue"
                *ngIf="submitted && student.name.errors"
              >
                <ion-icon name="alert"></ion-icon>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-input
                placeholder="Email"
                type="email"
                formControlName="email"
              ></ion-input>
              <ion-label
                class="error-label"
                color="blue"
                *ngIf="submitted && student.email.errors"
              >
                <ion-icon name="alert"></ion-icon>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-input
                placeholder="Password"
                type="password"
                formControlName="password"
              ></ion-input>
              <ion-label
                class="error-label"
                color="blue"
                *ngIf="submitted && student.password.errors"
              >
                <ion-icon name="alert"></ion-icon>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-input
                placeholder="Confirm Password"
                type="password"
                formControlName="password2"
              ></ion-input>
              <ion-label
                class="error-label"
                color="blue"
                *ngIf="submitted && student.password2.errors"
              >
                <ion-icon name="alert"></ion-icon>
              </ion-label>
            </ion-item>
          </div>
          <ion-button
            (click)="registerAccount()"
            expand="block"
            color="blue"
            [disabled]="loading"
          >
            {{ loading ? '' : 'Submit' }}
            <ion-spinner name="dots" *ngIf="loading"></ion-spinner>
          </ion-button>
          <ion-button expand="block" color="light" fill="outline" (click)="cancelRegistering()">
            Back
          </ion-button>
        </form>
      </div>
      <div *ngSwitchCase="'instructor'">
        <form *ngIf="registering" [formGroup]="instructorRegisterForm">
          <div class="register-div">
            <ion-item>
              <ion-input
                placeholder="Name"
                type="text"
                formControlName="name"
              ></ion-input>
              <ion-label
                class="error-label"
                color="blue"
                *ngIf="submitted && instructor.name.errors"
              >
                <ion-icon name="alert"></ion-icon>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-input
                placeholder="Email"
                type="email"
                formControlName="email"
              ></ion-input>
              <ion-label
                class="error-label"
                color="blue"
                *ngIf="submitted && instructor.email.errors"
              >
                <ion-icon name="alert"></ion-icon>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-input
                placeholder="Password"
                type="password"
                formControlName="password"
              ></ion-input>
              <ion-label
                class="error-label"
                color="blue"
                *ngIf="submitted && instructor.password.errors"
              >
                <ion-icon name="alert"></ion-icon>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-input
                placeholder="Confirm Password"
                type="password"
                formControlName="password2"
              ></ion-input>
              <ion-label
                class="error-label"
                color="blue"
                *ngIf="submitted && instructor.password2.errors"
              >
                <ion-icon name="alert"></ion-icon>
              </ion-label>
            </ion-item>
          </div>
          <ion-button
            (click)="registerAccount()"
            expand="block"
            [disabled]="loading"
            color="blue"
          >
            {{ loading ? '' : 'Submit' }}
            <ion-spinner name="dots" *ngIf="loading"></ion-spinner>
          </ion-button>
          <ion-button expand="block" color="light" fill="outline" (click)="cancelRegistering()">
            Back
          </ion-button>
        </form>
      </div>
    </div>
  </div>
</ion-content>
