.anouncements {
  ion-item {
    --padding-bottom: 0.1rem;
    --padding-end: 0.1rem;
    --padding-start: 0.1rem;
    --padding-top: 0.1rem;
    margin-bottom: 0.5rem;
    img {
      max-width: 50px;
      max-height: 50px;
      border-radius: 50%;
      margin: 0 0.5rem;
    }
    h1 {
      font-size: 0.8rem;
      margin: 0.3rem;
    }

    p {
      font-size: 0.7rem;
    }
  }
}

.classes {
  h1 {
    font-size: 0.7rem;
  }

  p {
    font-size: 0.6rem;
  }
}

ion-card {
  --background: #ffffff;
  ion-card-header {
    padding: 0;
    img {
      max-height: 35vh;
    }
  }
  ion-textarea {
    border: 1px solid #19703D;
    border-radius: 5px;
    --padding-bottom: 4px;
    --padding-end: 8px;
    --padding-start: 8px;
    --padding-top: 2px;
  }
  .attach {
    transform: rotate(90deg);
  }

  ion-card-content {
    background: #ffffff;
    padding: 0.3rem;
    ion-button {
      font-size: 0.7rem;
      --color-activated: #ffffff;
      --color-focused: #ffffff;
      --padding-bottom: 4px;
      --padding-end: 4px;
      --padding-start: 4px;
      --padding-top: 4px;
      --color: #888888;
      float: right;
    }
    p {
      padding: 0 0.4rem;
    }
  }
}

ion-content {
  --background: rgb(234, 255, 240);
}

ion-segment {
  padding: 15px;
  background: rgb(203, 243, 220);
}

ion-segment-button {
  display: flex;
  flex-direction: row;
  border: solid 2px #19703D;
  --background: #ffffff;
  --background-checked: var(--ion-color-blue);
  --border-radius: 4px;
  --color: #19703D;
  --color-checked: #ffffff;
  --indicator-color-checked: #222222;
  --transition: background-color 15ms linear;
  font-weight: bold;
  font-size: 0.7rem;
  // padding: 13px;
  img {
    position: absolute;
    left: 0;
  }
}

ion-list {
  background-color: rgb(234, 255, 240);
  min-height: 50vh;
}

#post-btn {
  --color-activated: #857c7c;
  --color-focused: #ffffff;
  color: #fff;
  background-color: #19703D;
  border-radius: 2px;
  width: 100%;
}

.empty {
  padding: 50px;
  color: #222222;
  h1 {
    font-size: 1rem;
  }
}

ion-select {
  background: var(--ion-color-blue);
  border: 1px solid black;
  color: #ffffff;
  margin: 0 0.8rem;
  font-size: 0.8rem;
  --padding-end: 1rem;
  border-radius: 0.4rem;
  button {
    padding: 0 !important;
  }
}

.post-card {
  padding: 15px;
  border: 0.5px solid rgb(204, 202, 202);
  font-size: 0.8rem;
}

ion-searchbar {
  margin-top: -20px;
}

// .button-logo {
//   width: 30px;
// }

.top-button {
  margin: 14px;
}