ion-content {
  --background: #f1f1f1;
}
ion-segment-button {
  --background: #ffffff;
  --background-checked: var(--ion-color-primary);
  --border-color: #222222;
  --border-radius: 4px;
  --color: grey;
  --color-activated: black;
  --color-checked: #ffffff;
  --indicator-color-checked: #222222;
  --transition: background-color 15ms linear;
  font-size: 0.5rem;
}
ion-card {
  --background: #ffffff;
}

ion-searchbar {
  padding: 0.4rem 0.8rem 0;
}

ion-list {
  background: #f1f1f1;
  padding: 0;
}

ion-select {
  background: var(--ion-color-primary);
  border: 1px solid black;
  color: #ffffff;
  margin: 1rem 0.8rem 0;
  font-size: 0.8rem;
  --padding-end: 1rem;
  border-radius: 0.4rem;
  button {
    padding: 0 !important;
  }
}

ion-segment {
  padding: 0.8rem 0.8rem 0;
}

.text-wrap {
  overflow-wrap: normal !important;
  font-size: 0.7rem;
  margin: 0;
}

.text-header {
  margin: 5px 0;
  font-size: 0.8rem;
  font-weight: 600;
}

.text-center {
  text-align: center;
}

p {
  margin: 0;
}

ion-grid {
  ion-row {
    padding: 0;
    ion-col {
      border: 0.5px solid #f1f1f1;
    }
  }
}

.footer {
  font-size: 0.7rem;
}

.class-image {
  margin: 1vh 0;
}

ion-fab-button {
  --border-color: var(--ion-color-primary);
  --padding-bottom: 0;
  --padding-end: 0;
  --padding-start: 0;
  --padding-top: 0;
}
