ion-content {
  --background: rgb(234, 248, 255);
}

ion-segment {
  padding: 15px;
  background: rgb(203, 235, 243);
}
ion-segment-button {
  border: solid 2px #00A3DE;
  --background: #ffffff;
  --background-checked: var(--ion-color-blue);
  --border-radius: 4px;
  --color: #00A3DE;
  --color-checked: #ffffff;
  --indicator-color-checked: #222222;
  --transition: background-color 15ms linear;
  font-weight: bold;
  font-size: 0.7rem;
  padding: 13px;
}

ion-card {
  --background: #ffffff;
  ion-card-header {
    padding: 0;
  }

  ion-card-content {
    background: var(--ion-color-primary);
    padding: 20px;
    border: 1px solid white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    .arrow-right {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}

.text-wrap {
  overflow-wrap: normal !important;
  font-size: 0.7rem;
  margin: 0;
}

.text-header {
  margin: 5px 0;
  font-size: 0.8rem;
  font-weight: 600;
}

p {
  margin: 0;
}

ion-grid {
  ion-row {
    padding: 0;
  }
}

ion-list {
  background: rgb(234, 248, 255);
  padding: 10px 0 0 0;
}

.footer {
  font-size: 0.7rem;
}

.class-image {
  margin: 1vh 0;
}

ion-select {
  background: var(--ion-color-blue);
  border: 1px solid #fff;
  color: #ffffff;
  margin: 0 0.8rem;
  font-size: 0.8rem;
  --padding-end: 1rem;
  border-radius: 0.4rem;
  button {
    padding: 0 !important;
  }
}
