ion-content {
  --background: rgb(234, 255, 240);
}
.top-card{
  background:#19703D;
  padding: 6px 0px !important;
  color:#f1f1f1; 
}

ion-segment {
  padding: 15px;
  background: rgb(203, 243, 220);
}
ion-segment-button {
  border: solid 2px #19703D;
  --background: #ffffff;
  --background-checked: var(--ion-color-blue);
  --border-radius: 4px;
  --color: #19703D;
  --color-checked: #ffffff;
  --indicator-color-checked: #222222;
  --transition: background-color 15ms linear;
  font-weight: bold;
  font-size: 0.7rem;
  padding: 13px;
}

ion-card {
  --background: rgb(255, 255, 255);
  ion-card-header {
    padding: 0;
  }

  ion-card-content {
    background: var(--ion-color-primary);
    padding: 20px;
    border: 1px solid white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    .arrow-right {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}

.text-wrap {
  color:#19703D;
  overflow-wrap: normal !important;
  font-size: 0.7rem;
  margin: 0;
}

.text-header {
  color:#19703D;
  margin: 5px 0;
  font-size: 0.8rem;
  font-weight: 600;
}
p {
  margin: 0;
}

ion-grid {
  ion-row {
    padding: 0;
  }
}

ion-list {
  background: rgb(234, 255, 240);
  padding: 10px 0 0 0;
}

.footer {
  font-size: 0.7rem;
}

.class-image {
  margin: 1vh 0;
}

ion-select {
  background: var(--ion-color-blue);
  border: 1px solid #fff;
  color: #ffffff;
  margin: 0 0.8rem;
  font-size: 0.8rem;
  --padding-end: 1rem;
  border-radius: 0.4rem;
  button {
    padding: 0 !important;
  }
}
