<app-header [title]="'LMS Mobile'"></app-header>
<ion-segment mode="ios" [(ngModel)]="segment">
  <ion-segment-button mode="ios" checked value="anouncements">
    <ion-label>Post</ion-label>
  </ion-segment-button>
  <ion-segment-button mode="ios" value="classes">
    <ion-label>My Classes</ion-label>
  </ion-segment-button>
</ion-segment>
<div class="classes-select" *ngIf="segment == 'anouncements'">
  <ion-select
    class="classes-options"
    [(ngModel)]="selectedClass"
    (ionChange)="setSelectedClass()"
  >
    <ion-select-option *ngFor="let list of classlist" [value]="list">
      {{ list.name }}
    </ion-select-option>
  </ion-select>
</div>
<ion-content>
  <div [ngSwitch]="segment">
    <div *ngSwitchCase="'anouncements'" class="anouncements">
      <ion-card>
        <ion-card-header> </ion-card-header>
        <ion-card-content>
          <ion-textarea
            mode="ios"
            placeholder="Write a post"
            [(ngModel)]="message"
          ></ion-textarea>
          <ion-button
            fill="clear"
            id="post-btn"
            (click)="addPost()"
            [disabled]="loading"
          >
            Post
          </ion-button>
          <!-- <ion-button fill="clear">
            <ion-icon slot="icon-only" name="attach" class="attach"></ion-icon>
          </ion-button> -->
        </ion-card-content>
      </ion-card>

      <ion-card class="ion-text-center" padding *ngIf="postlist.length == 0">
        No Posts or Activities in this Class
      </ion-card>

      <ion-card *ngFor="let post of postlist">
        <ion-card-content>
          <ion-item lines="none">
            <img [src]="post.posted_by.image" />
            <ion-label>
              <h1 class="ion-text-capitalize">
                {{ post.posted_by.name.first }} {{ post.posted_by.name.last }}
              </h1>
              <p class="ion-text-capitalize">{{ post.posted_by.role }}</p>
              <p>
                {{
                  convertToDate(post.date.created.seconds)
                    | date: 'MMM dd yyyy hh:mm '
                }}
              </p>
            </ion-label>
          </ion-item>
          <ion-text color="dark">
            <p>
              <ion-icon name="contrast" [color]="post.posted_to.color"></ion-icon>
              {{ post.posted_to.name }}
              {{
                post.type == 1
                  ? 'Post'
                  : post.type == 2
                  ? 'Assignment'
                  : post.type == 3
                  ? 'Activity'
                  : post.type == 4
                  ? post.submit.activity.type == 'quiz'
                    ? 'Quiz'
                    : 'Exam'
                  : 'Post'
              }}
            </p>
          </ion-text>
          <div class="post-card bg-light">
            <div>{{ post.message }}</div>
            <div *ngIf="post.type == 3">
              <div class="text-capitalize">
                <ion-button size="small" type="button" color="primary">{{ post.activity.type }}</ion-button>
                <ion-button size="small" type="button" color="tertiary">{{ post.activity.term }}</ion-button>
              </div>
              <div>Title: {{ post.activity.title }}</div>
              <div>Instruction: {{ post.activity.instruction }}</div>
              <div>
                Deadline:
                {{
                  convertToDate(post.activity.deadline.seconds)
                    | date: 'MMM dd yyyy hh:mm a'
                }}
              </div>
            </div>
            <div *ngIf="post.type == 4">
              <div class="text-capitalize">
                Type: {{ post.submit.activity.type }} |
                {{ post.submit.activity.term }}
              </div>
              <div>{{ post.submit.activity.title }}</div>
              <div>{{ post.submit.score }}</div>
              <div>
              Date:
                {{
                  convertToDate(post.submit.date.submitted.seconds)
                    | date: 'MMM dd yyyy hh:mm a'
                }}
              </div>
            </div>
          </div>
          <!-- <ion-button slot="end" fill="clear">
            <ion-icon slot="icon-only" name="ios-thumbs-up"></ion-icon>
          </ion-button>
          <ion-button slot="end" fill="clear">
            <ion-icon slot="icon-only" name="ios-text"></ion-icon>
          </ion-button> -->
        </ion-card-content>
      </ion-card>
    </div>

    <div *ngSwitchCase="'classes'" class="classes">
      <ion-list margin-vertical>
        <ion-searchbar
          placeholder="Search"
          inputmode="text"
          mode="ios"
        ></ion-searchbar>
        <ion-item button *ngFor="let list of classlist">
          <ion-icon
            name="contrast"
            slot="start"
            [color]="list.color"
          ></ion-icon>
          <ion-label>
            <h1>{{ list.name }}</h1>
            <!-- <p>{{ list.date.created | date: 'd MMM yyyy' }}</p> -->
          </ion-label>
          <div>
            <p>{{ list.code }}</p>
          </div>
        </ion-item>

        <div class="ion-text-center empty" *ngIf="classlist.length == 0">
          <h1>No Classes Created</h1>
          <p>
            Create digital classroom where you and your students can work
            together
          </p>
        </div>
      </ion-list>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="light" (click)="presentModal()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
  </div>
</ion-content>
